
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-size: 54px;
  font-family: Raleway, sans-serif;
  color: #777;
  background: #f2eee7;
  height: auto;
}

.portrait {
  max-width: 100%;
  height: 100vh;
  display:block;
  float: left;
}

div#about {
  padding: 10px;
  /*border: solid 1px black;*/
}

a {
  color: #007FF4;
  display: inline-block;
  line-height: 100%;
  text-decoration: none;

  -moz-transition: all .5s;
  -o-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 1688px) {
  div#about {
    float: right;
  }
}

@media (max-width: 1000px) {
  .portrait {
    height: auto;
  }
}

@media (max-width: 788px) {
  div#about {
    font-size: 0.7em;
    float: right;
  }
}

@media (max-width: 560px) {
  div#about {
    font-size: 0.6em;
    float: right;
  }
}

@media (max-width: 480px) {
  div#about {
    font-size: 0.4em;
    float: right;
  }
}

@media (max-width: 325px) {
  div#about {
    font-size: 0.35em;
    float: right;
  }
}